/* stylelint-disable selector-class-pattern */
/* stylelint-disable custom-property-pattern */
/* stylelint-disable font-family-no-missing-generic-family-keyword */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--sds-color-background-default-secondary);
}
.logo {
  width: 137.846px;
  height: 32px;
  svg {
    width: 137.846px;
    height: 32px;
    path {
      fill: var(--sds-color-icon-neutral-default);
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 32px;
  width: 'auto';
  background: var(--sds-color-background-default-default);
  gap: 32px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.introductionText {
  color: var(--sds-color-text-default-default);
  /* Body Strong */
  font-family: 'Schibsted Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}

.dashboard {
  display: flex;
  padding: 4px 0px;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 10px; */
  align-self: stretch;
  /* width: 480px; */
  /* margin-top: 16px; */
  border-radius: 6px;
  background: var(--sds-color-background-default-secondary);
}

.infoLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
}

.infoTitle {
  color: var(--sds-color-text-default-secondary);
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.infoContent {
  color: var(--sds-color-text-default-default);
  text-align: right;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.jumpBtn {
  width: 320px;
  height: 48px;
  background: var(--sds-color-background-brand-default);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.jumpBtnText {
  color: var(--sds-color-text-brand-on-brand);
  text-align: center;
  /* Single Line/Body Strong */
  font-family: 'Schibsted Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
}

.errorText {
  color: var(--sds-color-text-default-default);
  text-align: right;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.footer {
  width: 320px;
  position: absolute;
  bottom: 0;
}

.footerMedia {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  border-top: 0 !important;
}

.footerMediaPortkeyText {
  padding-top: 16px;
  padding-bottom: 26px;
}
.medium {
  display: flex;
  gap: 24px;
  padding-top: 25px;
  border-top: 1px solid var(--sds-color-border-default-default);
  width: 100%;
  justify-content: center;
  display: none;
}

.medium img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}