.guardian-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.guardian-body {
  flex: 1;
}

.portkey-ant-btn {
  background-color: var(--portkey-ui-default-btn-bg);
  width: 100%;
  height: auto;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
}

.portkey-ant-btn-primary {
  background-color: var(--portkey-ui-primary-btn-bg);
  border-color: var(--portkey-ui-primary-border);
}

.portkey-ant-btn-primary:hover,
.portkey-ant-btn-primary:focus {
  color: var(--portkey-ui-font-12);
  background-color: var(--portkey-ui-primary-btn-bg);
  border-color: var(--portkey-ui-primary-border);
  box-shadow: none !important;
}

.portkey-ant-btn-primary:disabled,
.portkey-ant-btn-primary:disabled:hover,
.portkey-ant-btn-primary:disabled:focus,
.portkey-ant-btn-primary:disabled:active {
  color: var(--portkey-ui-font-12);
  background-color: var(--portkey-ui-primary-btn-bg);
  border-color: var(--portkey-ui-primary-border);
  box-shadow: none !important;
  opacity: 0.3;
}

.loading-wrapper {
  position: absolute;
  top: 0;
}
