.loading-wrapper {
   background: var(--sds-color-background-default-default);
}
.loading-text {
  color: var(--sds-color-text-default-default);
  text-align: center;
  /* Body Strong */
  font-family: 'Schibsted Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}
