.auth-callback-prompt-modal {
  .portkey-ant-modal-body {
    padding: 24px 20px;
  }
  .portkey-ant-modal-confirm-btns {
    display: none;
  }
  .auth-callback-prompt-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    .auth-callback-prompt-modal-title {
      color: var(--portkey-ui-font-5);
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
    }
    .auth-callback-prompt-modal-content {
      color: var(--portkey-ui-font-8);
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }
}
